<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GestorDivisas - Precio actualizado del dólar y el euro</title>
    <link rel="stylesheet" href="src/css/skeleton.css">
    <link rel="stylesheet" href="src/css/{{CSS_THEME}}.css">
</head>
<body>
    {% for c in currencies %}
    <h2>{{c["name"}}</h2>
    <ul>
        {% for src in c["sources"] %}
        <li>{{src["sourceName"]}}: {{src["value"]}}</li>
        {endfor}
    </ul>
    {endfor}
    <h3>Latest update: {{DT}}</h3>
</body>
</html>